body {
    background-color: #2e313b !important;
    /* width: 100%;
    height: 100%; */
}

.nav {
    /* background: lightgrey; */
    padding: 25px !important;
    color: white;
    padding-top: 50px !important;
}

.tables {
    /* border: 1px solid grey; */
    margin: auto;
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
}

.table {
    width: 45% !important;
    float: left;
    margin: 20px;
    color: white !important;
}

tbody > tr > th {
    color: #1094f6;
}

.brand {
    padding: 5px 7px;
    border-radius: 3px;
    background-color: #249bf2;
    color: white;
    text-align: center;
    font-size: 14px;
}

.tiptop {
    font-size: 15px;
}

.open-btn {
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
    width: 100%;
}

.open-btn:hover {
    text-decoration: none;
    color: rgb(204, 204, 204);
}

.btn-container {
    width: 100%;
    background-color: #004975;
    text-align: center;
    padding: 3px;
}

.arrow {
    color: white;
    /* display: none !important; */
}

.arrow:before {
    border-top-color: white !important;
}

.tooltip-inner {
    max-width: 400px !important;
    min-width: 280px !important;
    padding: 0px !important;
    border: 1px solid white;
}

.tooltip-table-container {
    margin-top: 20px !important;
}

.row {
    margin: 10px 25px !important;
}

.table-titles div {
    font-weight: bold;
}

.row div {
    width: 50%;
}

.row div:nth-child(1) {
    text-align: left;
}

.row div:nth-child(2) {
    text-align: right;
}

.moreBrands {
    color: rgb(204, 204, 204);
    margin-bottom: 10px;
}